* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
}

.container {
  width: 90em;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  display: grid;
  row-gap: 2em;
  column-gap: 0.2em;
  grid-template-rows: 1fr 5fr 3fr 5fr;
  grid-template-columns: 1fr 4fr;

  background-color: rgb(149, 186, 255);
  padding: 1em;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}

.dashboard-link {
  font-size: 1.4em;
}
.dashboard-icon {
  width: 80%;
  justify-self: center;
}

.icon {
  width: 40%;
  justify-self: center;
}

.main-links, .dashboard-link, .other-links {
  grid-column: span 2;

  display: grid;
  row-gap: 0.5em;
  grid-template-columns: subgrid;
  align-items: center;
}

.right-part {
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr;
}

.main-content {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr 3fr;
  grid-template-columns: 3fr 1fr;
}
.cards {
  grid-row: span 3;
}