* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
}
:root {
  --size-1: 1.1rem;
  --size-2: 1.2rem;
  --size-3: 1.3rem;
  --size-4: 1.4rem;
}
/* remove this after testing */
svg {
  width: 1rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
}

.sidebar {
  display: grid;
  grid-template-rows: max-content 2fr 1fr 2.5fr;
  grid-template-columns: max-content 1fr;

  row-gap: 2.8rem;
  padding: 1rem;
}

.sidebar > .top, .mid, .bottom {
  grid-column: span 2;

  display: grid;
  grid-template-columns: subgrid;
  align-items: center;

  column-gap: 0.5rem;
  row-gap: 0.7rem;
}

.icon {
  justify-self: center;
}

.dashboard-icon {
  width: 2.2rem;
}
.dashboard-title {
  font-size: var(--size-4);
}

/* Right part */

.right-part {
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.header {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;

  padding: 1rem 2rem;
  padding-bottom: 0;
}

.top-user-icon {
  width: 2rem;
  height: 2rem;
  background-color: rgb(205, 205, 255);
  border-radius: 50%;
}
.bottom-user-icon {
  width: 3rem;
  height: 3rem;
  background-color: rgb(205, 205, 255);
  border-radius: 50%;
}

.header > * {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* .header > .bottom-left, .bottom-right {
  align-items: end;
} */
.header > .top-right, .bottom-right {
  justify-content: end;
}

.header input {
  flex: 1;
}

/* Content */

.content {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr 4fr;
  grid-template-columns: 3fr 1fr;

  padding: 1.5rem 1rem;
  padding-top: 0;
  column-gap: 1rem;
  row-gap: 0.5rem;
}

.content .head {
  align-self: end;
}

.cards {
  grid-row: span 3;

  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}
.card {
  /* background-color: rgb(77, 153, 77); */
}