* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  font-size: clamp(0.7rem, calc(0.2rem + 1vw), 1.5rem);
}
:root {
  --size-1: 1.1rem;
  --size-2: 1.2rem;
  --size-3: 1.3rem;
  --size-4: 1.4rem;

  --theme-color: orange;
}
.bold-headings {
  font-weight: bold;
}
.card {
  padding: 1rem;
  background-color: white;
  box-shadow: 0.1rem 0.1rem 0.2rem rgb(209, 209, 209);
  border-radius: 0.5rem;
}

svg {
  width: 1rem;
}

.container {
  width: 60rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 3.5fr;
}

.sidebar {
  display: grid;
  grid-template-rows: max-content 2fr 1fr 2.5fr;
  grid-template-columns: max-content 1fr;
  row-gap: 2.8rem;

  padding: 1rem;
  background-color: orange;
  color: white;
  font-weight: bold;
}

.sidebar > .top, .mid, .bottom {
  grid-column: span 2;

  display: grid;
  grid-template-columns: subgrid;
  align-items: center;

  column-gap: 0.5rem;
  row-gap: 0.7rem;
}

.icon {
  justify-self: center;
}

.dashboard-icon {
  width: 2.2rem;
}
.dashboard-title {
  font-size: var(--size-4);
}

/* Right part */

.right-part {
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.header {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;

  padding: 1rem 2rem;
  padding-bottom: 0;
  font-weight: bold;
  box-shadow: 0 0.2rem 0.2rem rgb(202, 202, 202);
}

.top-user-icon {
  width: 2rem;
  height: 2rem;
  background-color: rgb(205, 205, 255);
  border-radius: 50%;
}
.bottom-user-icon {
  width: 3rem;
  height: 3rem;
  background-color: rgb(205, 205, 255);
  border-radius: 50%;
}

.header > * {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* .header > .bottom-left, .bottom-right {
  align-items: end;
} */
.header > .top-right, .bottom-right {
  justify-content: end;
}

.header input {
  flex: 1;

  font: inherit;
  border: none;
  background-color: rgb(247, 240, 230);
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
}
.header input:focus {
  outline: medium solid var(--theme-color);
}

/* Content */

.content {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr 4fr;
  grid-template-columns: 2.5fr 1fr;

  padding: 1.5rem 1rem;
  padding-top: 0;
  column-gap: 1rem;
  row-gap: 0.5rem;
  background-color: rgb(247, 240, 230);
}

.content .head {
  align-self: end;
}

.cards {
  grid-row: span 3;

  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.cards > .card {
  border-left: thick solid rgb(255, 125, 125);
  
  display: grid;
  grid-template-rows: 1.2rem 1fr 1.2rem;
}
.review {
  justify-self: end;
}

.card p:first-child {
  font-size: 0.9rem;
  font-weight: bold;
}
.card p:last-child {
  margin-top: 0.2rem;
  font-size: 0.8rem;
  color: rgb(104, 104, 104);
}

.bottom-user-name {
  font-size: var(--size-3);
}

button {
  border: none;
  background-color: var(--theme-color);
  color: white;
  font-weight: bold;
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
}

.side-card-1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-evenly;
}

.side-card-1 p:first-child, .side-card-2 p:first-child {
  font-size: 0.7rem;
  font-weight: bold;
}
.side-card-1 p:last-child {
  font-size: 0.5rem;
}
.side-card-2 p:last-child {
  font-size: 0.7rem;
}

.side-card-2 {
  display: grid;
  align-items: center;
  gap: 1rem 0.5rem;
  grid-template-columns: 1fr 3fr;
}

.users-icon {
  width: 2rem;
  height: 2rem;
  background-color: orange;
  border-radius: 50%;
}